@import "antd-style-modify";

.indexWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  background-color: $theme-color;
  color: #ffffff;

  h1 {
    font-size: $font-size-l;
  }
}

.navWrapper {
  padding: 8px 16px;
  border-bottom: 1px solid $border-color;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      font-size: 16px;

      a {
        padding: 8px 16px;
        display: block;
        @include fontStyle($font-size-m, $font-color-deep, 700)
      }

      .active {
        color: $theme-color;
      }
    }
  }
}

.outlet {
  flex-grow: 1;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
