.indexWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;

}

.navWrapper {

  ul {
    display: flex;
    justify-content: space-between;

    li {
      padding: 8px 16px;
      font-size: 16px;
    }
  }
}

.outlet {
  flex-grow: 1;
}
