@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.NormalPlayerWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 150;
  background: $background-color;

  &.normal-enter,
  &.normal-exit-done {
    .Top {
      transform: translate3d(0, -100px, 0);
    }

    .Bottom {
      transform: translate3d(0, 100px, 0);
    }
  }

  &.normal-enter-active,
  &.normal-exit-active {
    .Top,
    .Bottom {
      transform: translate3d(0, 0, 0);
      transition: all 0.4s cubic-bezier(0.86, 0.18, 0.82, 1.32);
    }

    opacity: 1;
    transition: all 0.4s;
  }

  &.normal-exit-active {
    opacity: 0;
  }

  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    filter: blur(20px);

    &.layer {
      background: $font-color-desc;
      opacity: 0.3;
      filter: none;
    }
  }
}

.Top {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color-v2;
  width: 100%;
  padding: 8px 6px;

  .back {
    z-index: 50;

    .iconfont {
      display: block;
      font-size: $iconfont-size-l;
      color: $font-color-desc;
      font-weight: bold;
      transform: rotate(90deg);
    }
  }

  .text {
    flex: 1;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    line-height: 25px;
    text-align: center;
    font-size: $font-size-m;
    color: $font-color-desc;
    @include singleEllipsis
  }

  .subtitle {
    line-height: 10px;
    text-align: center;
    font-size: $font-size-s;
    color: $font-color-desc;
    @include singleEllipsis
  }

}

.Middle {
  position: fixed;
  width: 100%;
  top: 53px;
  bottom: 170px;
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;

  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    opacity: 1;
    transition: all 0.4s;
  }

  .fade-enter-done {
    transition: none;
  }

  .fade-exit-active {
    opacity: 0;
  }

  .fade-exit-done {
    opacity: 0;
  }
}

.CDWrapper {
  margin: auto;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  .needle {
    position: absolute;
    top: -6.67vw;
    left: 48vw;
    width: 25vw;
    height: 40vw;
    z-index: 100;
    background-image: url('../src/components/Player/needle.png');
    @include bgFull;
    transform-origin: 4.5vw 4.5vw;
    transition: all 0.3s;
    transform: rotate(0);

    &.pause {
      transform: rotate(-30deg);
    }
  }

  .cd {
    top: 12%;
    position: absolute;
    width: 75%;
    height: 75vw;
    background-image: url(../src/components/Player/disc.png);
    border: 4px solid $border-color-v2;
    border-radius: 50%;
    @include bgFull;

    .image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 50%;
      border: 10px solid rgba(255, 255, 255, 0.1);
    }

    .play {
      animation: rotate 20s linear infinite;

      &.pause {
        animation-play-state: paused;
      }
    }
  }

  .playing_lyric {
    position: absolute;
    margin: auto;
    width: 80%;
    top: 95vw;
    font-size: 14px;
    line-height: 20px;
    white-space: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }
}


.Bottom {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.ProgressWrapper {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;

  .time {
    color: $font-color-desc;
    font-size: $font-size-s;
    flex: 0 0 30px;
    line-height: 30px;
    width: 30px;

    &.time-l {
      text-align: left;
    }

    &.time-r {
      text-align: right;
    }
  }

  .progress-bar-wrapper {
    flex: 1;
  }

}

.Operators {
  display: flex;
  align-items: center;

  .icon {
    font-weight: 300;
    flex: 1;
    color: $font-color-desc
  }
;

  &.disable {
    color: $theme-color-shadow
  }

  i {
    font-weight: 300;
    font-size: 30px;
  }
}

.i-left {
  text-align: right;
}

.i-center {
  padding: 0 20px;
  text-align: center;

  i {
    font-size: 40px;
  }
}

.i-right {
  text-align: left;
}

.icon-favorite {
  color: $theme-color
}

.LyricContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* 遮罩 会有模糊效果，看个人喜欢*/
  mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsla(0, 0%, 100%, 0)), color-stop(10%, hsla(0, 0%, 100%, .6)), color-stop(25%, #fff), color-stop(75%, #fff), color-stop(85%, hsla(0, 0%, 100%, .6)), to(hsla(0, 0%, 100%, 0)));
  mask-image: linear-gradient(linear, left top, left bottom, color-stop(0, hsla(0, 0%, 100%, 0)), color-stop(10%, hsla(0, 0%, 100%, .6)), color-stop(25%, #fff), color-stop(75%, #fff), color-stop(85%, hsla(0, 0%, 100%, .6)), to(hsla(0, 0%, 100%, 0)));

}

.LyricWrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;

  p {
    line-height: 32px;
    color: rgba(255, 255, 255, 0.5);
    white-space: normal;
    font-size: $font-size-s;

    &.current {
      color: #fff;
    }

    &.pure {
      position: relative;
      top: 30vh;
    }
  }
}


