.userInfoWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: $background-color;
}

.userInfoContainer {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
}

.userInfoHeader {
  margin: 0 auto;
  display: flex;
  align-items: center;

  > h1 {
    padding-left: 15px;
  }
}

.userTab {
  margin: 18px 0;
  width: 100%;
}


.collectionList {
  position: fixed;
  top: 180px;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.collectionListItem {
  display: flex;
  align-items: center;
  padding: 8px 8px 0;

  .img_wrapper {
    height: 0;
    width: 45px;
    padding-bottom: 45px;
  }

  p {
    padding-left: 16px;
    @include singleEllipsis
  }
}


