.userInfoWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: $background-color;
}

.userInfoContainer {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
}

.userInfoHeader {
  margin: 0 auto;
  display: flex;
  align-items: center;

  > h1 {
    padding-left: 15px;
  }
}

.userTab {
  margin: 18px 0;
}


.collectionWrapper {
  position: fixed;
  top: 200px;
  bottom: 0;
  width: 100%;
  border: 1px solid red;

}


.collectionContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .img {
    width: 50px;
    height: auto;
  }

  p {
    padding-left: 16px;
    @include singleEllipsis
  }
}


