.title {
  display: block;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  font-size: $font-size-m;
  color: $font-color-deep;
  margin-left: 8px;
}

.songListWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  justify-content: flex-start;
  margin-left: 8px;
  color: rgba(80, 80, 80, 1);

  &::-webkit-scrollbar {
    display: none;
  }
}

.songList {
  margin-right: 8px;
  width: 105px;

  p {
    color: inherit;
    text-align: left;
    line-height: 150%;
    @include ellipsis;
  }
}

.tuneListTitle {
  margin: 16px 8px;
  font-size: $font-size-m;
  @include fontNormal(700)

}

.tuneList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  padding: 16px 0;
  position: relative;

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .tuneListLeft {
    width: 70%;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > span {
      font-size: $font-size-m;
      color: #000000;

      &:first-child {
        font-size: $font-size-s;
        padding-right: 16px;
        color: #999999;
      }
    }
  }
}
